language: android

# Required to run retrolambda
jdk:
    - oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-27

    # RS components
    - extra-android-m2repository
    - extra-google-m2repository
#script:
#    - ./gradlew clean build
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  bundler: true
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
branches:
  only:
  - master
  - "/^stable-.*$/"
#licenses:
#  - android-sdk-preview-license-.+
#  - android-sdk-license-.+
#  - google-gdk-license-.+
before_install:
- echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc
- git config --global user.name "Travis CI"
- git config --global user.email "tcisagebio@sagebase.org"
- yes | sdkmanager "platforms;android-27"
#- $ANDROID_HOME/tools/bin/sdkmanager --version
#- yes | $ANDROID_HOME/tools/bin/sdkmanager --licenses
install:
- gem install bundler
- bundle install
#before_script:
#- mkdir "$ANDROID_HOME/licenses" || true
#- echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
#- echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
script:
- export PATH=$PATH:$ANDROID_HOME/build-tools/27.0.3
- ./travis/build.sh

