language: android
jdk: oraclejdk8
dist: trusty
sudo: true
android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-27
    - android-26

before_install:
  - echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc
  - git config --global user.name "Travis CI"
  - git config --global user.email "tcisagebio@sagebase.org"

install:
  # upgrade to dpkg >= 1.17.5ubuntu5.8, which fixes https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627
  - sudo apt-get install -y dpkg  
  - gem install bundler
  - bundle install
  - ./setup_git_crypt.sh || travis_terminate 1
  - ./install-gcloud.sh || travis_terminate 1

# Path is used for zipalign
before_script:
  - export PATH=$PATH:$ANDROID_HOME/build-tools/27.0.3

stages:
  - name: test
    if: branch !~ /^stable-.*$/
  - name: firebase-test
    if: type == pull_request
  - name: check
    if: branch !~ /^stable-.*$/
  - name: deploy
    if: branch =~ /^stable-.*$/

jobs:
  include:
    - stage: test
      script: bundle exec fastlane test
    - stage: firebase-test
      script:
        - ./git_crypt_unlock.sh || travis_terminate 1
        - ./firebase-test.sh || travis_terminate 1
    - stage: check
      script: bundle exec fastlane assemble
    - stage: deploy
      script: bundle exec fastlane internal alias:"$KEY_ALIAS" storepass:"$KEYSTORE_PASSWORD" keypass:"$KEY_PASSWORD" signed_apk_path:"app/build/outputs/apk/app-internal-release.apk"

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  bundler: true
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
