<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sagebionetworks.research.mpower.researchstack">

    <application android:allowBackup="true">
        <activity android:name="org.researchstack.backbone.ui.ActiveTaskActivity"
            android:parentActivityName=".MpMainActivity"
            android:theme="@style/Base.Theme.Backbone"/>
        <activity
            android:name=".MpSignupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MpMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AppBarOverlay"
            android:windowSoftInputMode="adjustPan">

            <!-- To open app using link -->
            <tools:validation testUrl="https://ws.sagebridge.org/sage-mpower-2/phoneSignIn/TOKEN" />
            <tools:validation testUrl="http://mpower.sagebridge.org/sage-mpower-2/phoneSignIn/TOKEN" />
            <tools:validation testUrl="https://parkinsonmpower.org/sage-mpower-2/phoneSignIn/TOKEN " />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ws.sagebridge.org"
                    android:pathPrefix="/sage-mpower-2/phoneSignIn"
                    android:scheme="https" />
                <!-- TODO remove mpower.sagebridge temp site once parkinsonmpower.org ready @liujoshua 2018/08/06 -->
                <data
                    android:host="mpower.sagebridge.org"
                    android:pathPrefix="/sage-mpower-2/phoneSignIn"
                    android:scheme="http" />
                <data
                    android:host="parkinsonmpower.org"
                    android:pathPrefix="/sage-mpower-2/phoneSignIn"
                    android:scheme="https" />

            </intent-filter>
        </activity>

    </application>
</manifest>
