<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sagebionetworks.research.mpower.researchstack">

    <application>
        <activity
            android:name="org.researchstack.backbone.ui.ActiveTaskActivity"
            android:parentActivityName="org.sagebionetworks.research.mpower.MpPhoneAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Backbone" />
    </application>
</manifest>
