<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sagebionetworks.research.mpower.researchstack">

    <application android:allowBackup="true">
        <activity android:name=".MpMainActivity">
            <!-- To open app using launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- To open app using link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>

                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data
                    android:host="ws.sagebridge.org"
                    android:pathPrefix="/sage-mpower-2"
                    android:scheme="https"></data>
            </intent-filter>
        </activity>

        <activity
            android:name=".MpSignupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
