<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sagebionetworks.research.mpower">

    <!-- Required to access activity recognition. -->
    <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MPowerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".profile.WithdrawFromStudyActivity"></activity>

        <service
            android:name="org.sagebionetworks.research.presentation.recorder.service.RecorderService"
            android:exported="false" />

        <activity
            android:name=".EntryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">

            <tools:validation testUrl="https://parkinsonmpower.org/sage-mpower-2/study-burst" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            
            <intent-filter android:autoVerify="true">

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="parkinsonmpower.org"
                    android:pathPattern="/sage-mpower-2/study-burst"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MpPhoneAuthActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MPowerTheme"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">

            <tools:validation testUrl="https://parkinsonmpower.org/sage-mpower-2/phoneSignIn/TOKEN" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="parkinsonmpower.org"
                    android:pathPrefix="/sage-mpower-2/phoneSignIn"
                    android:scheme="https" />

            </intent-filter>
        </activity>


        <activity
            android:name=".authentication.ExternalIdSignInActivity"
            android:label="@string/title_activity_external_id_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/MPowerTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".studyburst.StudyBurstActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="org.sagebionetworks.researchstack.backbone.ui.ViewTaskActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".researchstack.framework.MpViewTaskActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MP.Survey"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="org.sagebionetworks.researchstack.backbone.ui.ViewWebDocumentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".reminders.StudyBurstReminderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".profile.PassiveGaitPermissionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- Phone Sign up group -->
        <activity
            android:name=".authentication.IntroductionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".authentication.PhoneSignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".authentication.SmsCodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".authentication.PhoneLearnMoreViewWeb"
            android:screenOrientation="portrait"/>


        <!-- These control local reminder notification scheduling and display -->
        <receiver android:name="org.sagebionetworks.research.sageresearch.reminders.MpReminderAlarmReceiver" />
        <receiver android:name=".reminders.MpReminderRescheduleReceiver"
            android:exported="false">
            <!-- These intent filters allow all our time-based alarms to be rescheduled when any of these occur
                 The reason we need these filters is because the Android OS cancels ALL time-based alarms
                 When the user reboots or changes anything in their settings related to time -->
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ActivityTransitionsReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.permission.ACTIVITY_RECOGNITION">
            <intent-filter>
                <action android:name="org.sagebionetworks.research.mpower.TRANSITIONS_RECEIVER_ACTION"/>
            </intent-filter>
        </receiver>

        <service android:name=".ActivityRecorderService" android:exported="false" />
    </application>

</manifest>