<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sagebionetworks.research.mpower">

    <application
        android:name=".MPowerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="org.sagebionetworks.research.presentation.recorder.service.RecorderService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".authentication.ExternalIdSignInActivity"
            android:label="@string/title_activity_external_id_sign_in"
            android:theme="@style/MPowerTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".studyburst.StudyBurstActivity"
                  android:screenOrientation="portrait">

        </activity>
        <!--<activity android:name=".tracking.fragment.MedicationSchedulingFragment"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden">-->

        <!--</activity>-->

        <activity
            android:name="org.researchstack.backbone.ui.ViewTaskActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".researchstack.framework.MpViewTaskActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MP.Survey"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name="org.researchstack.backbone.ui.ViewWebDocumentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

    </application>

</manifest>